<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Medula One" rel="stylesheet" />
    <title>Class and Activities</title>
</head>

<body>
    <div class="container">
        <header>
            <img id="logo" src="/images/logo.png" />
            <ul>
                <li><a class="active" href="#home">HOME</a></li>
                <li><a href="login.html">LOGIN</a></li>
                <li><a href="register.html">REGISTER</a></li>
                <li><a href="basket.html">SHOPPING BASKET</a></li>
            </ul>
        </header>
        <main>
            <div id="search">
                <div class="searchbar">
                    <img id="search-png" src="/images/searchbar.png" />
                    <input class="search-box" type="text" v-model="searchQuery" placeholder="SEARCH FOR A COURSES" />
                </div>
                <div class="class-activities">
                    <table v-if="courses.length" class="table">
                        <tr>
                            <th>Classes and Activities</th>
                        </tr>
                        <tr v-for="item in resultQuery">
                            <td>
                                <a v-bind:href="item.url" class="course-url">
                                    {{item.topic}} {{item.location}} {{item.price}}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-text">
                <p>© CLASS AND ACTIVITIES BY ERDEM AKSU ©</p>
                <p>CONTACT EMAIL: CLASSANDACTIVITESUPPORT@GMAIL.COM</p>
            </div>
            <div id="footer-links">
                <a href=https:/www.instagram.com/classandactivities.> <img src=/images/instagram.png width="50"
                    height="50"> <a href=https:/www.twitter.com/classandactivities.> <img src=/images/twitter.png
                        width="50" height="50">
            </div>
        </footer>
    </div>
    <script src="main.js" charset="utf-8"></script>
</body>

</html>