<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Medula One" rel="stylesheet" />
    <title>Class and Activities</title>
</head>

<body>
    <div class="container">
        <header>
            <img id="logo" src="/images/logo.png" />
            <ul>
                <li><a class="active" href="#home">HOME</a></li>
                <li><a href="login.html">LOGIN</a></li>
                <li><a href="register.html">REGISTER</a></li>
            </ul>
        </header>

        <aside>
            <h1>CLICK ON COURSE TO GO TO COURSE PAGE</h1>
            <div id="search">
                    <img id="search-png" src="/images/searchbar.png" />
                    <input class="search-box" type="text" v-model="searchQuery" placeholder="SEARCH FOR A COURSES" />
                <div class="class-activities">
                    <table v-if="courses.length" class="table">
                        <tr>
                            <th>Classes and Activities</th>
                        </tr>
                        <tr v-for="item in resultQuery" class="course">
                            <td>
                                <a v-bind:href="item.url" class="course-url">
                                    {{item.topic}} {{item.location}} {{item.price}}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </aside>

        <section>
            <h1>FILTER BY EITHER COURSE, LOCATION OR PRICE OR CLICK ON THE COURSE TO GO TO THE COURSE
                PAGE AND FILTER BY MULTIPLE
            </h1>
            <div class="filtercourses" id="filtercourses">
                <ul class="course-list">
                    <div class="filter">
                        <br>
                        <label><input type="radio" v-model="selectedCourse" value="All" /> All Courses</label>
                        <label><input type="radio" v-model="selectedCourse" value="Maths" /> Maths</label>
                        <label><input type="radio" v-model="selectedCourse" value="English" /> English</label>
                        <label><input type="radio" v-model="selectedCourse" value="Science" /> Science</label>
                        <label><input type="radio" v-model="selectedCourse" value="Sports" /> Sports</label>
                    </div>
                    </br>
                    <ul v-for="course in filteredCourses">
                        {{ course.topic }}
                        {{ course.location }}
                        {{ course.price }}
                    </ul>
                    <br>
                </ul>
                <ul class="course-list">
                    <br>
                    <div class="filter">
                        <label><input type="radio" v-model="selectedLocation" value="All" /> All Location</label>
                        <label><input type="radio" v-model="selectedLocation" value="Hendon" /> Hendon </label>
                        <label><input type="radio" v-model="selectedLocation" value="Colindale" /> Colindale</label>
                        <label><input type="radio" v-model="selectedLocation" value="Brent_Cross" /> Brent Cross</label>
                        <label><input type="radio" v-model="selectedLocation" value="Golders_Green" />
                            GoldersGreen</label>
                    </div>
                    </br>
                    <ul v-for="course in filteredLocations">
                        {{ course.topic }}
                        {{ course.location }}
                        {{ course.price }}
                    </ul>
                    <br>
                </ul>
                <ul class="course-list">
                    <br>
                    <div class="filter">
                        <label><input type="radio" v-model="selectedPrice" value="All" /> All Prices</label>
                        <label><input type="radio" v-model="selectedPrice" value="£100" /> £100 </label>
                        <label><input type="radio" v-model="selectedPrice" value="£80" /> £80</label>
                        <label><input type="radio" v-model="selectedPrice" value="£90" /> £90</label>
                        <label><input type="radio" v-model="selectedPrice" value="£120" /> £120</label>
                    </div>
                    </br>
                    <ul v-for="course in filteredPrices">
                        {{ course.topic }}
                        {{ course.location }}
                        {{ course.price }}
                    </ul>
                </ul>
            </div>
        </section>

        <footer>
            <div class="footer-text">
                <p>© CLASS AND ACTIVITIES BY ERDEM AKSU ©</p>
                <p>CONTACT EMAIL: CLASSANDACTIVITESUPPORT@GMAIL.COM</p>
            </div>
            <div id="footer-links">
                <a href=https:/www.instagram.com/classandactivities.> <img src=/images/instagram.png width="50"
                    height="50"> <a href=https:/www.twitter.com/classandactivities.> <img src=/images/twitter.png
                        width="50" height="50">
            </div>
        </footer>
    </div>
    <script src="main.js" charset="utf-8"></script>
</body>

</html>