body {
  background-color: #d4efff;
}
#logo {
  float: left;
  width: 65px;
  height: 65px;
}
#search-png {
  width: 25px;
  height: 25px;
}
ul {
  list-style-type: none;
  margin: 0;
  float: right;
  text-align: right;
  padding: 10px;
  font-size: 30px;
}
.course-url {
  list-style-type: none;
  color: rgb(255, 255, 255);
}
li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
}
li {
  float: left;
}
li a:hover:not(.active) {
  background-color: black;
}
.active {
  background-color: #78a0b9;
}
table {
  float: center;
  text-align: left;
  font-size: 37px;
}
.searchbar {
  float: left;

}
.class-activities {
  font-size: 25px;
  font-family: "Medula One";
  color: white;
  text-align: center;
  float: center;
}
.submit {
  background-color: rgb(65, 65, 65);
  font-size: 15px;
  font-family: "Medula One";
  color: white;
  padding: 10px;
  text-align: center;
}
/* - MAIN SECTIONS - */
header {
  background-color: rgb(65, 65, 65);
  font-size: 25px;
  font-family: "Medula One";
  color: #78a0b9;
  padding: 10px;
}
main {
  background-color: rgb(65, 65, 65);
  font-size: 35px;
  font-family: "Medula One";
  color: white;
  padding: 10px;
  float: left;
}
aside {
  background-color: rgb(65, 65, 65);
  font-size: 25px;
  font-family: "Medula One";
  color: white;
  padding: 10px;
  float: left;
}
section {
  background-color: rgb(65, 65, 65);
  font-size: 25px;
  font-family: "Medula One";
  color: white;
  padding: 10px;
}
footer {
  background-color: rgb(65, 65, 65);
  padding: 10px;
  font-family: "Medula One";
  color: #78a0b9;
  text-align: center;
  float: right;
}
/* - MAIN SECTIONS - */

/* - CSS GRID - */
.container {
  display: grid;
  gap: 10px;
  grid-template-rows: 0.2fr 2fr 0.2fr;
  grid-template-columns: 0.5fr 1fr;
}
header {
  grid-column: 1/3;
  grid-row: 1;
}
main {
  grid-column: 1/3;
  grid-row: 2;
}
aside {
  grid-column: 1;
  grid-row: 2;
}
section {
  grid-column: 2;
  grid-row: 2;
}
footer {
  grid-column: 1/3;
  grid-row: 3;
}
/* - CSS GRID END - */
