<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Medula One" rel="stylesheet" />
    <title>Class and Activities</title>
</head>

<body>
    <div class="container">
        <header>
            <img id="logo" src="/images/logo.png" />
            <ul>
                <li><a class="active" href="/index.html">ALL COURSES</a></li>
                <li><a href="/index.html">HOME</a></li>
                <li><a href="/login.html">LOGIN</a></li>
                <li><a href="/register.html">REGISTER</a></li>
            </ul>
        </header>

        <aside>
            <h1>CLICK ON TITLE TO SORT RESULTS ASC OR DSC ORDER</h1>
            <div id="filters">
                <table>
                    <tr>
                        <th v-on="click: orderBy('topic')">Course</th>
                        <th v-on="click: orderBy('location')">Location</th>
                        <th v-on="click: orderBy('price')">Price</th>
                    </tr>
                    <tr v-repeat="item : courses | orderBy sortKey desc">
                        <td>{{ item.topic }}</td>
                        <td>{{ item.location }}</td>
                        <td>{{ item.price}}</td>
                    </tr>
                </table>
            </div>
        </aside>

        <section>
            <h1>LEAVE A REVIEW FOR ALL COURSES</h1>
            <p>SELECT WHAT YOU RATE THE COURSE</p>
            <div id="rating">
                <select v-model="selected">
                    <option v-for="option in options" v-bind:value="option.value">
                        {{ option.text }}
                    </option>
                </select>
                <br>
                <span>YOUR RATING:</span>
                <br>
                <span>{{ selected}}</span>
            </div>

            <h1>FILTER COURSES</h1>
            <div id="filter">
                <select multiple v-model='selectedTopic'>
                    <option v-for='topic in topics'>
                        {{topic}}
                    </option>
                </select>
                <p>SELCETED COURSE: {{selectedTopic}}</p>
                <select multiple v-model='selectedLocation'>
                    <option v-for="location in locations">{{location}}</option>
                </select>
                <p>SELECTED LOCATION: {{selectedLocation}}</p>
                <button v-on:click='reset' class='submit'>RESET</button>
                <div id="courseList">
                    <h2>COURSE LIST</h2>
                    <div v-for="course in filteredCourses" class="course">
                        <a v-for='(value) in course'>{{value}}</a>
                    </div>
                </div>
            </div>
            <script>
                var rating = new Vue({
                    el: '#rating',
                    data: {
                        selected: 'PLEASE LEAVE A RATING',
                        options: [
                            { text: '1/5', value: '1/5 OK THANKS WE WILL TRY TO IMPROVE FOR THE NEXT TIME' },
                            { text: '2/5', value: '2/5 WE WILL TRY TO IMPROVE FOR THE NEXT TIME' },
                            { text: '3/5', value: '3/5 THANKS' },
                            { text: '4/5', value: '4/5 THANKS FOR THE 4 STARS' },
                            { text: '5/5', value: '5/5 THANKS FOR THE GREAT FEEDBACK :)' },
                        ]
                    }
                });
                var filterApp = new Vue({
                    el: '#filter',
                    data: {
                        courses: [
                            { topic: 'Maths', location: 'Hendon', price: 100 },
                            { topic: 'Maths', location: 'Colindale', price: 80 },
                            { topic: 'Maths', location: 'Brent_Cross', price: 90 },
                            { topic: 'Maths', location: 'Golders_Green', price: 120 },

                            { topic: 'English', location: 'Hendon', price: 100 },
                            { topic: 'English', location: 'Colindale', price: 80 },
                            { topic: 'English', location: 'Brent_Cross', price: 90 },
                            { topic: 'English', location: 'Golders_Green', price: 120 },

                            { topic: 'Science', location: 'Hendon', price: 100 },
                            { topic: 'Science', location: 'Colindale', price: 80 },
                            { topic: 'Science', location: 'Brent_Cross', price: 90 },
                            { topic: 'Science', location: 'Golders_Green', price: 120 },

                            { topic: 'Sports', location: 'Hendon', price: 100 },
                            { topic: 'Sports', location: 'Colindale', price: 80 },
                            { topic: 'Sports', location: 'Brent_Cross', price: 90 },
                            { topic: 'Sports', location: 'Golders_Green', price: 120 },

                        ],
                        selectedTopic: [],
                        selectedLocation: [],
                    },
                    methods: {
                        reset: function () {
                            this.selectedTopic = [];
                            this.selectedLocation = [];
                        }
                    },
                    computed: {
                        topics: function () { // return an array of all the topics
                            return [...new Set(this.courses.map(x => x.topic))]
                        },
                        locations: function () {
                            return [...new Set(this.courses.map(x => x.location))]
                        },
                        filteredCourses: function () {
                            var topics = this.selectedTopic, locations = this.selectedLocation;
                            return this.courses.filter(function (course) {
                                var topicMatch = false, locationMatch = false;
                                if (topics.length > 0) {
                                    if (topics.includes(course.topic)) {
                                        topicMatch = true;
                                    }
                                }
                                else {
                                    topicMatch = true;
                                }
                                if (locations.length > 0) {
                                    if (locations.includes(course.location)) {
                                        locationMatch = true;
                                    }
                                }
                                else {
                                    locationMatch = true;
                                }
                                return topicMatch && locationMatch
                            })
                        }
                    }
                })
            </script>
        </section>

        <footer>
            <div class="footer-text">
                <p>© CLASS AND ACTIVITIES BY ERDEM AKSU ©</p>
                <p>CONTACT EMAIL: CLASSANDACTIVITESUPPORT@GMAIL.COM</p>
            </div>
            <div id="footer-links">
                <a href=https:/www.instagram.com/classandactivities.> <img src=/images/instagram.png width="50"
                    height="50">
                    <a href=https:/www.twitter.com/classandactivities.> <img src=/images/twitter.png width="50"
                        height="50">
            </div>
        </footer>
    </div>
    <script src="/vue.js"></script>
    <script src="app.js" charset="utf-8"></script>
</body>

</html>